<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <div class="row">
        <h1>Pending Book Approvals</h1>
    </div>
    <table class="table table-dark table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Book Id</th>
            <th>Book Name</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Author Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pendingApproval : ${pendingApprovals}">

            <td th:text="${pendingApproval.bookId}"></td>
            <td th:text="${pendingApproval.bookName}"></td>
            <td th:text="${pendingApproval.genre}"></td>
            <td th:text="${pendingApproval.price}"></td>
            <td th:text="${pendingApproval.authorName}"></td>
            <td>
                <a th:href = "@{/management/approveBook/{bookId}(bookId=${pendingApproval.bookId})}" class ="btn btn-primary">Approve</a>
                <a th:href = "@{/management/rejectBook/{bookId}(bookId=${pendingApproval.bookId})}" class ="btn btn-danger">Deny</a>
            </td>

        </tr>
        </tbody>
    </table>
    <a th:href = "@{/book/getApprovedBooks}" class ="btn btn-warning">Approved Books</a>
    <a th:href = "@{/author/getAllAuthors}" class ="btn btn-warning">View All Authors</a>
</div>
</body>
</html>